.taikhoan{
    position: relative;
}
.user-navbar{
    display: none;
    border-radius: 20px;
    box-shadow: rgba(0, 0 ,0 ,0.5) 0px 0px 10px;
    list-style: none;
    padding: 10px;
    background: white;
    position: absolute;
    width: 13rem;
    z-index: 3;
}
.user-navbar li{
    height: 40px;
}
.dropdown:hover .user-navbar{
    display: block;
}
.giohang{
    position: relative;
}
.giohang-sub {
    display: none;
    width: 27rem;
    right: -9rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0 ,0 ,0.5) 0px 0px 10px;
    position: absolute;
    z-index: 3;
    padding: 10px;
    background: white;
    max-height: 500px;
}
.giohang:hover .giohang-sub{
    display: block;
}
.giohang-sub ul{
    list-style: none;
    padding: 0;
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden ;
}
.giohang-sub ul::-webkit-scrollbar{
    width: 8px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
}
.giohang-sub ul::-webkit-scrollbar-thumb{
    background-color: rgba(74, 25, 255, 0.5);
    border-radius: 5px;
}
.giohang-sub li{
    height: 50px;
    border-bottom: #b2b2b2 solid 1px;
}
.giohang-sub li:first-child{
    margin-top: 5px;
    height: 50px;
}
.giohang-sub li div{
    height: 25px;
}

